<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Job</title>
    <link rel="stylesheet" type="text/css" href="applyJobs.css"> <!-- Link to your CSS file -->
</head>

<body>
    <div class="application-container">
         <h1>Apply for Job: <span th:text="${jobs.title}">Job Title</span></h1>
         <form action="/jobs/apply" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="jobId" th:value="${jobs.id}"/>
            
            <label for="name">Name:</label>
            <input type="text" name="name" required />
            
            <label for="email">Email:</label>
            <input type="email" name="email" required />

            <label for="resume">Upload Resume:</label>
            <input type="file" name="resume"/>

            <button type="submit">Submit Application</button>
        </form>

        <!-- Display success or error message -->
    <!--     <div th:if="${successMessage}" class="success-message" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>   -->
    </div>
</body>

</html> 