/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #1a73e8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar-brand .brand {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Login Form Styles */

.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: #f4f4f4;
    margin-top: 1rem;
}

.login-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    height: 350px;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input {
    width: calc(100% - 1rem);
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #1a73e8;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #666;
}

.register-link a {
    color: #1a73e8;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}