/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Navbar Styles */
.navbar {
    background-color: #1a73e8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar-brand .brand {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Registration Form Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 50vb;

}

h2 {
    text-align: center;
    color: #1a73e8;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 517px;
    padding: 12px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0d5bbf;
}

/*div[th\\:if] {
    margin-top: 10px;
    color: red;
    text-align: center;
}*/